.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
	animation-name: animasiMasuk;
	animation-duration: 4s;
}

@keyframes animasiMasuk {
	from {opacity: 0}
	to {opacity: 1}
}

#bodyLogin {
	background-color: #f14881;
	color: white;
}